@import "./logo.css";

.sidebar {
  position: sticky;
  top: 0;
  left: 0;

  max-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;

  overflow: auto;

  padding-block: var(--safe-area-pd);
  padding-inline: 3rem;

  width: 100%;
  max-width: 400px;
}

.sidebar-nav-list {
  display: grid;
  gap: 1rem;
}

.sidebar-nav-list .devider {
  width: 100%;
  height: 1px;

  background-color: hsl(var(--outline-hsl));
  opacity: 0.5;
}

.sidebar-nav-link {
  padding: 1rem 2rem;
  font-size: var(--title-l-fs);
}

.sidebar-profile {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;

  margin-top: auto;
}

.sidebar-profile__avatar {
  flex-shrink: 0;

  width: 50px;
  height: 50px;

  border-radius: 50%;

  box-shadow: 0 0 10px hsla(var(--primary-hsl), var(--primary-alpha-bxs));
}

.sidebar-profile__avatar img {
  width: 100%;
  height: 100%;
}

.sidebar-profile__name {
  flex-grow: 1;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  font-size: var(--title-l-fs);
  font-weight: bold;
}

.sidebar-profile__btn {
  flex-shrink: 0;
}
