:root {
  /* HSL BASE */
  --surface-base-hsl: 274, 40%;
  --on-surface-base-hsl: 0, 0%;
  --primary-base-hsl: 274, 69%;
  --on-primary-base-hsl: 0, 0%;
  --outline-base-hsl: 0, 0%;
  --ripple-base-hsl: 0, 0%;
  --default-hover-base-hsl: 0, 0%;

  /* HSL */
  --surface-hsl: var(--surface-base-hsl), 95%;
  --on-surface-hsl: var(--on-surface-base-hsl), 0%;
  --primary-hsl: var(--primary-base-hsl), 50%;
  --on-primary-hsl: var(--on-primary-base-hsl), 100%;
  --primary-40-hsl: var(--primary-base-hsl), 44%;
  --primary-90-lowest-hsl: var(--primary-base-hsl), 90%;
  --primary-90-hsl: var(--primary-base-hsl), 93%;
  --outline-hsl: var(--outline-base-hsl), 50%;
  --default-ripple-hsl: var(--ripple-base-hsl), 0%;
  --modified-ripple-hsl: var(--primary-hsl);
  --ripple-hsl: var(--modified-ripple-hsl);
  --default-hover-hsl: var(--default-hover-base-hsl), 90%;

  /* Sizes */
  --container-mw: calc(1200px + var(--container-pgi) * 2);
  --container-pgi: 1rem;
  --wrapper-gap: 2rem;
  --safe-area-pd: 1.5rem;

  /* UTILS */
  --primary-y-offset-bxs: 8px;
  --primary-offset-bxs: 0 var(--primary-y-offset-bxs) 24px;
  --primary-alpha-bxs: 0.15;

  --medium-shape: 12px;
  --large-shape: 16px;

  /* FONTS */
  --main-ff: "Inter", sans-serif;

  --display-s-fs: 36px;
  --headline-l-fs: 32px;
  --title-l-fs: 22px;
  --body-l-fs: 16px;
  --body-m-fs: 14px;

  font-size: var(--body-l-fs);
  font-family: var(--main-ff);
  line-height: 1.5;
}
